<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find victor_description)/urdf/gazebo_utilities.xacro"/>

    <gazebo reference="victor_pedestal">
        <visual>
            <material>
                <diffuse>0.2 0.2 0.2 1.0</diffuse>
                <ambient>0.1 0.1 0.1 1.0</ambient>
            </material>
        </visual>
    </gazebo>
    <gazebo reference="victor_base_plate">
        <visual>
            <material>
                <diffuse>0.7 0.7 0.7 1.0</diffuse>
                <ambient>0.3 0.3 0.3 1.0</ambient>
                <specular>0.9 0.9 0.9 1.0</specular>
            </material>
        </visual>
    </gazebo>

    <xacro:preserve joint_name="right_tool_joint"/>
    <xacro:preserve joint_name="left_tool_joint"/>

</robot>
