<launch>
    <arg name="rvizconfig" default="$(find visual_servoing)/default.rviz" />
    <param name="robot_description" textfile="$(find visual_servoing)/models/husky_custom_description/urdf/mic09_description.urdf" />
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>
