<launch>
    <arg name="update_description" default="true"/>
    <arg name="launch_fake_dual_arm_bridge" default="false"/>

    <group if="$(arg launch_fake_dual_arm_bridge)">
        <include file="$(find victor_fake_hardware_interface)/launch/fake_dual_arm_lcm_bridge.launch"/>
    </group>


    <group if="$(arg update_description)">
        <!-- uploads robot description and setups up other parameters -->
        <include file="$(find victor_moveit_config)/launch/planning_context.launch">
            <arg name="load_robot_description" value="true"/>
        </include>
    </group>

    <!-- Move it-->
    <include ns="victor" file="$(find victor_moveit_config)/launch/move_group.launch">
        <arg name="allow_trajectory_execution" value="true"/>
        <arg name="moveit_controller_manager" value="fake"/>
    </include>
    <include file="$(find arm_robots)/launch/trajectory_follower.launch">
        <arg name="use_victor" value="true"/>
    </include>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <rosparam param="source_list">["arm_joint_states"]</rosparam>
    </node>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" args="" />

</launch>
